* {
    box-sizing: border-box;

  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px bisque;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical;
  }
  input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px bisque;
    margin-top: 6px;
    margin-bottom: 16px;

  } 
  input[type=submit] {
    background-color: #ecd8a0;
    color: rgb(80, 18, 18);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: bisque;
    font-size: larger;
  }
  
  /* Style the cform/contact section */
  .cform {
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 10px;
  }
  
  /* Create two columns (entries) that float next to eachother */
  .entries {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }