@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display&family=Secular+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

.firstsection{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: antiquewhite;
    mix-blend-mode: darken;
    background-blend-mode: overlay;
    background-color: bisque;
    mix-blend-mode: darken;

    
}


.backgroundtop {
    display: block;
    background: bisque url(img/bglinkedin.png);
    background-blend-mode: overlay;
    mix-blend-mode: darken;
    max-height: 3.5cm;
    background-repeat: repeat-x;
   

}
.intro {
 

}
.intro td{
    display: flex;

}
.firstsection img{
    display: flex;
    
    background-size: cover;
    max-width: 5cm;
    border: 3px solid rgb(168, 155, 155);
    border-radius: 110%;
    clear: none;


}


.profile img {
    display: flex;
    max-width: 5cm;
    max-height: 7cm;
    border: 3px solid rgb(168, 155, 155);
    border-radius: 110%;

}



.intro table {
    display: flex;
    border-spacing: 18px;
    
}
.intro td{
    display: flexbox;
    background-color: bisque;
    mix-blend-mode: darken;

}
.heading {
    display: inline-flexbox;
    animation-name: namo;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-duration: 2s;
    position: relative;
    color: rgb(19, 17, 17);
    font-family: 'Libre Baskerville', serif;
    font-size: large;

}
@keyframes namo {
    from {left: 0px;}
    to {left: 140px;}
}


.secondsectionl{
    padding-top: 10px;
    background-color: bisque;
    z-index: -50;
}
.headd{
    background-color: bisque;
    
}
.contactme{
    padding-top: 20px;
    z-index: 0;
    display: flex;
    background-color: bisque;
}

.info {
    z-index: 0;
    display: flexbox;
   
    background-color: bisque;
}

.awhite {
    background-color: antiquewhite;
}

.stars table {
    text-decoration: underline;
    text-decoration-style:double;
    text-decoration-color: grey;
    display: inline-flex;
    border-spacing: 8px;
}

.indent {
    text-align: left;
    margin-left: 1cm;
}

.fon {
    font-family: 'Times New Roman';
    font-size: large;
}





a {
    display: flex;
    margin-left: 7cm;
    color: rgb(10, 221, 151);
    text-decoration: none;
}

a:hover {
    color: rgb(10, 124, 124);
    font-size: x-large;
}

.contactme {
    overflow-x: visible;
    display: flex;
    margin-left: 5cm;
    margin-bottom: 0.5cm;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.contactme img {
    overflow: visible;
    display: flex;
    justify-items: center;
    max-width: 0.5cm;
   
}

.social:hover {
    display: flex;
    position: relative;
    display: block;
    font-size: xx-large;
    top: -10px;
    left: -1px;
    z-index: 0;
    height: auto;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
}

.contactme a {
    display: flex;
    overflow: visible;
    justify-content: center;
    padding: 1px;
    margin-left: 0.5cm;
    background-color: bisque;
    color: gray;


}
.bottomsec{

background-color: bisque;

}

.planguages{

    display: flex;
}
